<div id="<%= dom_id idea %>">

  <div id = "basic_info">
  <div id = "ns">
  <p class = "element">
    <strong>氏名<br></strong>
    <%= idea.name %>
  </p>

  <p class = "element">
    <strong>学校<br></strong>
    <%= idea.school %>
  </p>
  </div>

  <p class = "element">
    <%= image_tag(idea.picture_url , width:"600px") if idea.picture.present? %>
  </p>

  </div>

  <p class = "element">
    <strong>自己PR:</strong>
    <%= idea.pr %>
  </p>

  <p class = "element">
    <strong>志望理由:</strong>
    <%= idea.reason %>
  </p>

</div>
